{{> partials/header}}

<main>
    <section id="banner">
        <h1>ADMINISTRADOR</h1>
    </section>
     <h2>Serviços em análise</h2>
    <section id="services">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  
        {{#services}}
            <div class="service">
            <img draggable="false"  class="thumb" src="{{pubphoto}}"
                alt="">
            <h3>{{title}}</h3>
             <div class="location">
                <img draggable="false" src="/assets/images/icons/user-round-svgrepo-com.svg" alt="nome do usuário">
                <p>{{username}}</p>
            </div>
            <div class="location">
                <img draggable="false" src="/assets/images/icons/location-pin-alt-1-svgrepo-com.svg" alt="localização">
                <p>{{city}} - {{state}}</p>
            </div>
            <div class="location">
                <img draggable="false" src="/assets/images/icons/whatsapp-svgrepo-com.svg" alt="contato">
                <p>{{phone}}</p>
            </div>
            <a href="https://api.whatsapp.com/send?phone=55{{whatsapp}}" class="float" target="_blank">
                <i class="fa fa-whatsapp my-float"></i>
            </a>
           <form action="/adm/aprove/{{id}}" method="POST"> 
                <button id="aprove" type="submit">Aprovar</button>
           </form>
           <form action="/adm/reject/{{id}}" method="POST"> 
                <button id="decline" type="submit">Deletar</button>
           </form>
        </div>
         {{/services}}

        
         
    </section>
        {{^services}}
          <h2>Não foi encontrado nenhum serviço :/</h2>
        {{/services}}
  
    <div id="pagination">
        <ul>
        {{#pagination}}
            <li><a class="{{status}}" href="{{url}}">{{page}}</a></li>
        {{/pagination}}
        </ul>
    </div>
 


</main>
{{>partials/footer}}
</body>

</html>