{{> partials/header}}
<body>
    <main>
      
        <form action="{{link}}" method="POST">
            <input type="password" name="password" placeholder="Nova senha(8 digitos)">
            <input type="password" name="passwordCheck" placeholder="Repita nova senha">
            <button type="submit">Entrar</button>
        </form>

    </main>
    {{>partials/footer}}
<script src="/assets/scripts/passwordCheck.js"></script>
</body>