{{> partials/header}}
<body>
    <main>
        
        <form action="/recuperacao" method="post">
            <img draggable="false" src="/assets/images/icons/job-search-svgrepo-com.svg" alt="">
            <p>Enviaremos um email de verificação para seu Email para redefinir sua senha!</p>
            <input type="text" required="true"  name="email" placeholder="Email">
            <button type="submit">Enviar</button>
            
            
        </form>

    </main>
{{>partials/footer}}
<body>