{{> partials/header}}
<body>
    <main>
        
     <form action="" method="post">
        <img draggable="false" src="/assets/images/icons/job-search-svgrepo-com.svg" alt="">
            <p>Prezado(a),
                Gostaríamos de informar que um email de recuperação foi enviado para o endereço associado à sua conta. Por favor, verifique a sua caixa de entrada, incluindo a pasta de spam, caso não encontre o email na sua caixa de entrada principal.
                Se precisar de mais assistência ou tiver alguma dúvida, não hesite em entrar em contato conosco. Estamos aqui para ajudar!<br> Atenciosamente, SLS-services
            </p>
    </form>

    </main>
    {{>partials/footer}}
<body>