{{> partials/header}}

<main>
    <section>
        <h1>Aguardando confirmação</h1>
        <img src="/assets/images/icons/check-circle-svgrepo-com.svg" alt="">
        <h3>Agora é conosco :)</h3>
        <h4>Seu anuncio foi enviado e logo mais estará ativo 🎉🎉</h4>
        <h5>Você vai receber um email quando ele estiver ativo 😉</h5>
    </section>
</main>

</body>