@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200&family=Quicksand:wght@300;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Serif', serif;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #1b1b1b;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /* background-image: linear-gradient(to right, #61677A, black); */
    font-family: 'Noto Serif', serif;
    font-family: 'Quicksand', sans-serif;
}


main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

main>* {
    flex: 1;
}

main img {
    width: 100%;
    object-fit: cover;

}

form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    max-width: 400px;
    width: 100%;
    backdrop-filter: blur(90%);

    border-radius: 3px;
}

form img {
    object-fit: cover;
    width: 50%;
    padding: 30px;

}

form {
    color: black;
    position: relative;
}

label {
    text-align: start;
    font-size: 22px;
    align-self: flex-start;
}

form input,
form button,
#state,
#city {
    width: 100%;
    border: none;
    border-bottom: 3px solid #61677A;
    padding: 10px;
    background-color: white;
    outline: none;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 3px;
    position: relative;
}

#state:focus,
#city:focus {
    bottom: 0;
}

form input#image {
    margin-top: 0px;
}

form button {
    width: 50%;
    cursor: pointer;
    background-color: #61677A;
    color: white;
    border-bottom: 3px solid white;

    transition: all ease-in-out .5s;
}

form button:hover {
    background-color: #61677A;
    color: white;
    border-bottom: 3px solid white;
}

form>a {
    margin-top: 10px;
}

form>p {
    margin-top: 10px;
    color: black;
}

form a {
    text-decoration: none;
    color: #61677A;
}

form #error {
    padding: 5px;
    background-color: rgb(255, 96, 96);
    color: white;
    border-radius: 5px;

}

form .errorInput {
    width: 100%;
    padding: 5px;
    background-color: rgb(255, 96, 96);
    color: white;
    border-radius: 5px;
}

footer {
    padding: 12px;
    margin-top: 100px;
    background-color: black;
    color: #999;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #2f38bb;
}

@media (max-width:800px) {
    main {
        display: block;

    }

    form {

        margin: auto;
        margin-top: 50px;
    }
}