<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/images/icons/job-search-svgrepo-com.svg" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/images/icons/job-search-svgrepo-com.svg" type="image/x-icon">
    <meta property="og:title" content="SLS-services">
    <meta property="og:description" content="Plataforma de anúncio de serviços">
    <meta property="og:image" content="/assets/images/icons/thumb.png">
    <meta property="og:url" content="https://sls-services.vercel.app">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/{{css}}.css">
    <title>{{title}}</title>
</head>
<body>
<header>
    <div>
        <div>
            <a href="/"><img draggable="false" src="/assets/images/icons/LOGO.png" alt=""></a>
        </div>
        <nav>
            <ul>
                

            </ul>
        </nav>
        <div class="headeroptions">
            {{#userName}}
            <div id="menuMobile">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
               <div id="navmobile">
                    <p>Olá, {{userName}}</p>
                        {{#adm}} <a href="/adm" class="button">Área Administrador</a>{{/adm}}
                    <a href="/anuncio" class="button">Novo anúncio</a>
                    <a href="/meus-servicos" class="button">Meus anúncios</a>
                    <a class="button" href="/logout">Sair</a>
               </div>
            {{/userName}}

            {{^userName}}
                <a class="button" href="/entrar">Entrar</a>
                <a class="button" href="/cadastro">Criar Conta</a>
            {{/userName}}
            
        </div>

    </div>

</header>
    
 
